<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title_page}}</title>
    </head>
    <body>

        {{> header}}
        {{> navigation_bar}}
        <h1>Account Page</h1>

        {{output}}
        {{> back_button}}

    </body>
</html>