<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title_page}}</title>
    </head>

    <body>

        {{> header}}

        {{> navigation_bar}}

        <div>
            <h1>Fighting Game</h1>
        </div>

        {{welcome}}
    </body>
</html>