<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title_page}}</title>
    </head>
    <body>

        {{> header}}
        {{> navigation_bar}}
        <h1>Login Page</h1>

        <!-- Button to open the modal login form -->
        <!--<button onclick="document.getElementById('id01').style.display='block'">Login</button>-->

        <!-- The Modal -->
        <!--<div id="id01" class="modal">-->
            <!--<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>-->

            <!-- Modal Content -->
        <form method="POST" action="/user_logging_in">

            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Email" name="email" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <input type="submit" value="Login">
            </div>

            <!--<div class="container" style="background-color:#f1f1f1">-->
                <!--<button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>-->
                <!--<span class="psw">Forgot <a href="#">password?</a></span>-->
            <!--</div>-->

        </form>
        <br>

        {{output}}
        <br>
        <!--</div>-->

        <!--<form action="sign_up">-->
            <!--<input type="submit" value="Sign Up"/>-->
        <!--</form>-->

        <a href="sign_up">Sign Up</a>


    </body>
</html>